<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="BPCL" connectionString="Data Source=dev032;Initial Catalog=BPCL;Integrated Security=True;User ID=sa;Password=sadev32"/>-->
    <add name="eAPMC" connectionString="Data Source=dev032;Initial Catalog=eAPMC;Persist Security Info=True;User ID=sa;Password=sadev032;Connection Timeout=0"/>
  </connectionStrings>
</configuration>